{% extends '_Layout.jinja' %}
{% from 'bootstrap5/utils.html' import render_icon %}
{% from 'bootstrap5/pagination.html' import render_pagination %}
{% from 'utils/pagination_helpers.jinja' import linhas_por_pagina %}

{% block content %}
    <div class="row justify-content-center">
        <div class="clearfix mb-4">
            <form action="{{ url_for('categoria.lista') }}" method="get">
                <div class="float-start small">
                    <div class="hstack gap-3">
                        {{ linhas_por_pagina(pp) }}
                    </div>
                </div>
                <div class="float-end">
                    <button type="submit" class="btn btn-secondary">Filtrar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <table class="table table-sm table-striped table-hover">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col" class="text-end"># Produtos</th>
                <th scope="col" class="text-center">Ações</th>
            </tr>
            <tbody>
            {% for categoria in rset_page %}
                <tr>
                    <td>{{ categoria.nome }}</td>
                    <td class="text-end">{{ categoria.lista_de_produtos | count }}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a class="btn btn-outline-secondary btn-sm" href="#">
                                {{ render_icon("pencil-square", title="Alterar") }}</a>
                            <a class="btn btn-outline-danger btn-sm" href="#">
                                {{ render_icon("trash", title="Excluir") }}</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center">
        <div class="clearfix">
            <div class="float-start small">
                Mostrando itens {{ rset_page.first }} a {{ rset_page.last }} de um total de {{ rset_page.total }}
            </div>
            <div class="float-end">
                {{ render_pagination(rset_page, "categoria.lista", size="sm", align="right",
                                    args={"pp": pp}) }}
            </div>
        </div>
    </div>
{% endblock %}
