{% extends '_Layout.jinja' %}
{% from 'bootstrap5/form.html' import render_form, render_field %}
{% from 'bootstrap5/utils.html' import render_icon %}
{% from 'auth/user-sidebar.jinja' import usersidebar with context %}

{% block content %}
    <!-- novalidate=True implica em server-side validation -->
    <div class="container d-flex">
        <div class="me-auto">
            {{ usersidebar() }}
        </div>
        <div class="ms-5 flex-grow-1">
            {{ render_form(form, button_style='primary', button_size='lg', novalidate=True) }}
        </div>
    </div>
{% endblock %}
