{% macro usersidebar() %}
    {% from 'bootstrap5/utils.html' import render_icon %}
    <table class="table table-sm small justify-content-center">
        <tr>
            <td colspan="2" class="text-center">
                <img src="{{ current_user.url_gravatar(256) }}"
                     class="rounded-circle me-3 mb-4"
                     alt="Avatar do usuário"/><br />
                <div class="mx-auto mb-5"><strong>{{ current_user.email }}</strong></div>
            </td>
        </tr>
        <tr>
            <th scope="row" class="text-start">Registrado em</th>
            <td class="text-center">{{ current_user.dta_cadastro | as_localtime }}</td>
        </tr>
        <tr>
            <th scope="row" class="text-start">Último acesso</th>
            <td class="text-center">{{ current_user.dta_ultimo_acesso | as_localtime }}</td>
        </tr>
        <tr>
            <th scope="row" class="text-start">Última atualização</th>
            <td class="text-center">{{ current_user.dta_atualizacao | as_localtime }}</td>
        </tr>
        <tr>
            <th scope="row" class="text-start">Papéis</th>
            <td class="text-end">{{ ", ".join(current_user.nomes_dos_papeis) }}</td>
        </tr>
        {% if current_user.usa_2fa %}
        <tr>
            <th scope="row" class="text-start">Autenticação em dois fatores</th>
            <td class="text-center">{{ render_icon('shield-fill-check', size=24, color="success") }}</td>
        </tr>
            <tr>
                <th scope="row">Códigos reserva disponíveis</th>
                <td class="text-center">{{ current_user.lista_2fa_backup | length }}</td>
            </tr>
        {% else %}
            <tr>
                <th scope="row" class="text-start">Autenticação em dois fatores</th>
                <td class="text-center">{{ render_icon('shield-fill-x', size=24, color="danger") }}</td>
            </tr>
        {% endif %}
    </table>
{% endmacro %}
