{% macro linhas_por_pagina(pp) %}
    <div class="p-2">
        <div class="input-group input-group-sm">
            <div class="input-group-text">Linhas por página</div>
            <select name="pp" class="form-select form-select-sm" id="pp">
            {% for qtd in [10, 25, 50, 100] %}
                <option value="{{ qtd }}"{% if qtd == pp %} selected{% endif %}>{{ qtd }}</option>{% endfor %}
            </select>
        </div>
    </div>
{% endmacro %}

{% macro nome_parcial(q) %}
    <div class="p-2">
        <div class="input-group input-group-sm">
            <div class="input-group-text">Nome parcial</div>
            <input name="q" type="text" class="form-control-sm" id="nomeparcial" placeholder=""
                    {% if q %} value="{{ q }}"{% endif %}>
        </div>
    </div>
{% endmacro %}

{% macro escolha_categoria(categorias, c) %}
    <div class="p-2">
        <div class="input-group input-group-sm">
            <div class="input-group-text">Categoria</div>
            <select name="c" type="" class="form-control-sm" id="categoria">
                <option value="">-- Todas --</option>
                {% for categoria in categorias %}
                    <option value="{{ categoria[0] }}"{% if categoria[0] | string == c %} selected{% endif %}>{{ categoria[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endmacro %}

{% macro apenas_inativos(a) %}
<div class="p-2">
    <input name="a" type="checkbox" class="btn-check" id="a" {% if a == 'on' %}checked{% endif %} autocomplete="off">
    <label class="btn btn-outline-secondary" for="a">Apenas inativos</label>
</div>
{% endmacro %}
